.secondary-carousel {
  margin: auto;
  width: 100%;
  max-width: 1440px;
  padding: 60px;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -999999px;
    right: -999999px;
    content: "";
    background: linear-gradient(180deg, #b49bca 59.5%, #222 100%);
  }
  .slick-prev.slick-arrow {
    position: absolute;
    left: 10px;
  }
  .slick-prev:before {
    content: url("../futurx/assets/images/flecha-slider.svg");
  }
  .slick-next.slick-arrow {
    position: absolute;
    right: 10px;
    transform: rotate(180deg) translate(0, -110%);
  }
  .slick-next:before {
    content: url("../futurx/assets/images/flecha-slider.svg");
  }
  &.slick-slider .slick-track {
    display: flex;
    align-items: stretch;
    > div {
      height: unset;
      > section {
        height: 100%;
        .container {
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .secondary-carousel {
    padding: 40px;
    .slick-prev.slick-arrow {
      display: none !important;
    }
    .slick-next.slick-arrow {
      display: none !important;
    }
  }
}
